.i1, .i2, .i3 {
 
  background-size: cover;
  background-position: center center;
  
}

.i1{
background-image: url('/images/bg1.webp');

}

.i2{
background-image: url('/images/bg2.webp');
}

.i3{

background-image: url('/images/bg3.webp');
}