.leftside{
background-color:#48436a;
width: 40%;
background-image: url("/./public/regphoto.png");
background-repeat: no-repeat;
background-position: center center;
background-size: contain;
height: 100vh; 
}

.forgetpass{
 width: 100%;
  height: 100vh; 
  display: flex;    
}

.rightside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 50px;
}

.haveanacount{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: start;
}

@media screen and (max-width :760px) {
    .leftside{
        display: none;

    }
   
}